#catalog-page {
    .catalog-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;

        .catalog-list-item {
            padding: 0.5rem;
            max-width: 100%;
            box-shadow: $downShadow;

            img {
                width: 100%;
                object-fit: contain;
                vertical-align: top;
            }

            p {
                font-size: 16px;
                margin: 1rem 0 0.5rem;
                text-transform: capitalize;
            }
        }
    }
}