// Pokemon logo palete
$light: #F0F3F4;
$dark: #0D0D0D;
$primary: #F2E744;
$primary-dark: #F2D541;
$secondary: #0583F2;
$secondary-dark: #2D4494;

// SHADOWS
$downShadow: 0 10px 15px rgba(50, 50, 93, 0.2);

// FONTS
$mainFont: 'Amarante',
cursive;
$secondFont: 'Indie Flower',
cursive;
$titlesFont: 'Lobster',
cursive;