// COLORS
$background: black;
$primary: yellow;
$secondary: rgb(236, 6, 225);

// SHADOWS
$downShadow: 0 10px 15px rgba(50, 50, 93, 0.2);

// FONTS
$mainFont: 'Amarante',
cursive;
$secondFont: 'Indie Flower',
cursive;
$titlesFont: 'Lobster',
cursive;