.App {
    .page-header {
        background-color: $primary;
        position: relative;
        padding: 1rem 1rem 0;
        box-shadow: $downShadow;

        .logo {
            height: 4rem;
            margin: 0;
            cursor: pointer;
        }
    }

    h1 {
        background-color: $secondary-dark;
        margin: 0;
        padding: 1rem 0 1rem;
        color: $primary;
        font-family: $secondFont;
        position: sticky;
        top: 0;
        font-size: 1.5rem;

        @include media('mama-bear') {
            font-size: 2rem;
        }
    }

    .main-content {
        padding: 0 2rem 2rem;
        margin-top: 1.5rem;
    }
}